@tailwind base;
@layer base {
  h2 {
    @apply text-xl;
  }
  h4 {
    @apply text-lg;
  }
  h6 {
    @apply text-sm;
  }
  /* a {
    @apply text-blue-600 underline;
  } */
}
@tailwind components;
@tailwind utilities;

/* Custom CSS for the Quill toolbar */
.custom-toolbar {
  background-color: black;
  color: white;
}

/* Apply custom styles to specific toolbar items */
.custom-toolbar-item {
  color: white;
}